<div class="field1">
    <div class="field1-items">
        <p class="field1-items field1-items__text">Hi there! We are the new kids on the block<br>and we build awesome
            websites and mobile apps.</p>
        <button class="field1-items field1-items__button">WORK WITH US!</button>
    </div>
</div>
<div class="field2">
    <div class="field2-items">
        <p class="field2-items field2-items__text">SERVICES WE PROVIDE</p>
        <div class="line"></div>
        <p class="field2-items field2-items__text2">We are working with both individuals and bussineses from all over
            the globe<br>to create awesome websites and applications</p>
        <div class="services">
            <div class="card">
                <img class="card-image" src="assets/img/Flag icon@1X.png">
                <p class="card-name">branding</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan urna
                    arcu, vel maximus
                    nisi pulvinar quis.</p>
            </div>
            <div class="card">
                <img class="card-image" src="assets/img/Crayon icon@1X.png">
                <p class="card-name">design</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan urna
                    arcu, vel maximus
                    nisi pulvinar quis.</p>
            </div>
            <div class="card">
                <img class="card-image" src="assets/img/Shape 16@1X.png">
                <p class="card-name">development</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan urna
                    arcu, vel maximus
                    nisi pulvinar quis.</p>
            </div>
            <div class="card">
                <img class="card-image" src="assets/img/Rocket icon@1X.png">
                <p class="card-name">rocket science</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan urna
                    arcu, vel maximus
                    nisi pulvinar quis.</p>
            </div>
        </div>
    </div>
</div>
<div class="field3">
    <div class="field3-items">
        <p class="field3-items field3-items__text">MEET OUR BEAUTIFUL TEAM</p>
        <div class="line"></div>
        <p class="field3-items field3-items__text2">We are a small team of designers and developers, who help brands
            with big ideas.</p>
        <div class="team">
            <div class="team-card">
                <div class="profile-pic"></div>
                <p class="team-card-name">anne hathaway<br><span>CEO / Marketing Guru</span></p>
                <p class="team-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan
                    urna
                    arcu, vel maximus
                    nisi pulvinar quis.</p>
                <div class="social">
                    <svg>
                        <use xlink:href="#facebook"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#twitter"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#mail"></use>
                    </svg>
                </div>
            </div>
            <div class="team-card">
                <div class="profile-pic"></div>
                <p class="team-card-name">kate upton<br><span>Creative Director</span></p>
                <p class="team-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan
                    urna
                    arcu, vel maximus
                    nisi pulvinar quis.</p>
                <div class="social">
                    <svg>
                        <use xlink:href="#facebook"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#twitter"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#mail"></use>
                    </svg>
                </div>
            </div>
            <div class="team-card">
                <div class="profile-pic"></div>
                <p class="team-card-name">olivia wilde<br><span>Lead Designer</span></p>
                <p class="team-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan
                    urna
                    arcu, vel maximus
                    nisi pulvinar quis.</p>
                <div class="social">
                    <svg>
                        <use xlink:href="#facebook"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#twitter"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#mail"></use>
                    </svg>
                </div>
            </div>
            <div class="team-card">
                <div class="profile-pic"></div>
                <p class="team-card-name">ashley greene<br><span>SEO / Developer</span></p>
                <p class="team-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan
                    urna
                    arcu, vel maximus
                    nisi pulvinar quis.</p>
                <div class="social">
                    <svg>
                        <use xlink:href="#facebook"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#twitter"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#mail"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="field4">
    <div class="field4-items">
        <p class="field4-items field4-items__text">WE GOT SKILLS!</p>
        <div class="line"></div>
        <p class="field4-items field4-items__text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Praesent
            accumsan
            urna arcu, vel maximus nisi pulvinar quis.</p>
        <div class="bars-set">
            <div class="bar">
                <div class="circle-wrap">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                        </div>
                        <div class="inside-circle"> 90% </div>
                    </div>
                </div>
                <p class="bar-name">WEB DESIGN</p>
            </div>
            <div class="bar">
                <div class="circle-wrap">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill2"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill2"></div>
                        </div>
                        <div class="inside-circle"> 75% </div>
                    </div>
                </div>
                <p class="bar-name">HTML / CSS</p>
            </div>
            <div class="bar">
                <div class="circle-wrap">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill3"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill3"></div>
                        </div>
                        <div class="inside-circle"> 70% </div>
                    </div>
                </div>
                <p class="bar-name">GRAPHIC DESIGN</p>
            </div>
            <div class="bar">
                <div class="circle-wrap">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill4"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill4"></div>
                        </div>
                        <div class="inside-circle"> 85% </div>
                    </div>
                </div>
                <p class="bar-name">UI / UX</p>
            </div>
        </div>
    </div>
</div>


<div class="field5">
    <div class="field5-items">
        <p class="field5-items field5-items__text">OUR PORTFOLIO</p>
        <div class="line"></div>
        <p class="field5-items field5-items__text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Praesent
            accumsan
            urna arcu, vel maximus nisi pulvinar quis.</p>
        <div class="portfolio-menu">
            <ul class="portfolio-menu__list">
                <li class="clickable"><a href="#">
                        all
                    </a>
                </li>
                <li class="clickable"><a href="#">
                        web
                    </a>
                </li>
                <li class="clickable"><a href="#">
                        apps
                    </a>
                </li>
                <li class="clickable"><a href="#">
                        icons
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portfolio-items">
        <div class="portfolio-items portfolio-items--group">
            <img class="portfolio-image" src="assets/img/1@1X.png">
            <p class="portfolio-name">ISOMETRIC PERSPECTIVE MOCK-UP</p>
        </div>
        <div class="portfolio-items portfolio-items--group">
            <img class="portfolio-image" src="assets/img/2@1X.png">
            <p class="portfolio-name">TIME ZONE APP UI</p>
        </div>
        <div class="portfolio-items portfolio-items--group">
            <img class="portfolio-image" src="assets/img/3@1X.png">
            <p class="portfolio-name">VIRO MEDIA PLAYERS UI</p>
        </div>
        <div class="portfolio-items portfolio-items--group">
            <img class="portfolio-image" src="assets/img/4@1X.png">
            <p class="portfolio-name">BLOG / MAGAZINE FLAT UI KIT</p>
        </div>
    </div>
    <div class="load-projects">
        <button class="load-projects load-projects--button">LOAD MORE PROJECTS</button>
    </div>
</div>

<div class="field6">
    <div class="field6-items">
        <p class="field6-items field6-items__text">WHAT PEOPLE SAY ABOUT US</p>
        <div class="line"></div>
        <p class="field6-items field6-items__text2">Our clients love us!</p>
    </div>
    <div class="clients">
        <div class="clients clients--group">
            <div class="client-photo"></div>
            <div class="client-texts">
                <p class="client-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Praesent accumsan
                    urna
                    arcu, vel maximus nisi pulvinar quis.<br><span class="client-name">CHANEL IMAN</span><br><span
                        class="client-occupation">CEO of
                        Pinterest</span></p>
            </div>
        </div>
        <div class="clients clients--group">
            <div class="client-photo"></div>
            <div class="client-texts">
                <p class="client-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Praesent accumsan
                    urna
                    arcu, vel maximus nisi pulvinar quis.<br><span class="client-name">CHANEL IMAN</span><br><span
                        class="client-occupation">CEO of
                        Pinterest</span></p>
            </div>
        </div>
        <div class="clients clients--group">
            <div class="client-photo"></div>
                     <div class="client-texts">
            <p class="client-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Praesent accumsan urna
                arcu, vel maximus nisi pulvinar quis.<br><span class="client-name">CHANEL IMAN</span><br><span class="client-occupation">CEO of
                    Pinterest</span></p>
            </div>
        </div>
        <div class="clients clients--group">
            <div class="client-photo"></div>
                       <div class="client-texts">
            <p class="client-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Praesent accumsan urna
                arcu, vel maximus nisi pulvinar quis.<br><span class="client-name">CHANEL IMAN</span><br><span class="client-occupation">CEO of
                    Pinterest</span></p>
            </div>
        </div>
    </div>
</div>
<div class="field7">
    <div class="field7-items">
        <p class="field7-items field7-items__text">GET IN TOUCH</p>
        <div class="line"></div>
        <p class="field7-items field7-items__text2">1600 Pensylvannia AVE NW , Washington, DC 20500, United States of America. Tel.: (202) 456-1111</p>
    </div>
    <form>
        <div class="form-contacts">
        <input type="text" placeholder="Your name *">
        <input type="email" placeholder="Your email *">
        </div>
        <div class="message-area">
        <textarea class="message-area message-area--textarea" placeholder="Your message *"></textarea>
        </div>
        <div class="send-message">
        <button class="send-message send-message--button">SEND MESSAGE</button>
        </div>
    </form>
</div>