$firstbackground:#864F9C;
$nav-height:151px;
$secondbackground:#16C2A3;
$thirdbackground:#E7F1F8;
$social:#BDD1DF;
$fifthbackground:#FFDD99;
$sixthbackground:#D74580;
$seventhbackground:#3C5399;
$footer-color:#334B8E;