<nav>
  <div class="nav-logo">
    <a href="#">
      <img src="assets/img/logo@1X.png">
    </a>
  </div>

  <div class="nav-menu">
    <ul class="nav-menu__list">
      <li><a  href="#">
          home
        </a>
      </li>
      <li><a href="#">
          about
        </a>
      </li>
      <li><a href="#">
          work
        </a>
      </li>
      <li><a href="#">
          blog
        </a>
      </li>
      <li><a href="#">
          contact
        </a>
      </li>
  </ul>
  </div>
</nav>